/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navForAccount {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #1D2833;
    height: 60px;
    align-items: center;
    width: 100%;
}

.loading-toast {
    background-color: #f0ad4e; /* Color de fondo para el estado de carga */
    color: #fff; /* Color del texto */
}

.imgNavBar {
    width: 60px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.descriptionLogo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 52px;
    color: rgba(19, 133, 240, 0.83);
    text-decoration: none;
}

.containerAllLogin {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.containerInicioRedirect {
    width: 90%;
    border-radius: 20px;
    background-color: #7FBFFF;
    padding: 20px 20px 20px 0px;
    display: flex;
    align-items: center;
    height: 100vh;
}

.iconLockFeature {
    width: 60px;
}

.logoDiv {
    position: absolute;
    width: 50px;
    right: 80px;
    top: 100px;
}

.templateImgMac {
    height: 90%;
}

.featuresZonaPets {
    padding-left: 60px;
}

.featuresZonaPets h1 {
    font-family: "Outfit";
    font-size: 40px;
    color: #fff;
}

.featuresZonaPets h1 span{
    color: #FFD564
}

.listItemsChars {
    margin-left: 50px;
    color: #fff;
    font-size: 19px;
}

.redirectAnchordLogin:hover {
    cursor: pointer;
}

.redirectButtonLogin {
    color: rgba(19, 133, 240, 0.85);
    width: 100%;
    margin-top: 20px;
    background: #D5D6D8;
    border-radius: 20px;
    padding: 10px 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 60px;
    border: 0;
    width: 91%;
    transition: all 0.3s ease;
}


.redirectButtonLogin:hover {
    transform: scale(1.07);
    -webkit-box-shadow: -9px 21px 59px 5px rgba(138,134,138,1);
    -moz-box-shadow: -9px 21px 59px 5px rgba(138,134,138,1);
    box-shadow: -9px 21px 59px 5px rgba(138,134,138,1);
}

@media (max-width: 1030px) {
    .templateImgMac {
        display: none;
    }

    .logoDiv {
        right: 6%;
    }

    .redirectButtonLogin {
        line-height: normal;
    }
}

@media (max-width: 803px) {
    .featuresZonaPets {
        padding-left: 30px;
    }

    .redirectButtonLogin {
        font-size: 20px;
    }
}

@media (max-width: 622px) {
    .featuresZonaPets {
        padding-left: 30px;
    }

    .redirectButtonLogin {
        font-size: 20px;
    }
}
