* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: none;
}

body {
  font-family: "Poppins";
}

.container1 {
  z-index: 11;
  position: relative;
  background: #fff;
}

.nav-principal {
  list-style-type: none;
  padding: 5px 30px;
  z-index: 100;
  position: relative;
}

.nav-principal ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.start-hr {
  width: 50px;
  color: #80808052;
  rotate: 90deg;
}

.all {
  color: #80808052;
  position: relative;
  z-index: 10;
}

.links-page {
  display: flex;
  gap: 40px;
}

.links-page a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 34px;
  color: #61BEE1;
}

nav ul li a {
  text-decoration: none;
  list-style: none;
}

.imgnavbar {
  width: 58px;
  height: 58px;
}

.zonapets {
  display: flex;
  align-items: center;
}

.zonapets h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 50px;
  color: #61BEE1;
}

.right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.social-media {
  display: flex;
}

.social-media a{
  margin-left: 32px;
  display: flex;
  align-items: center;
}

.premium-login {
  align-items: center;
  display: flex;
}

.user-login {
  display: flex;
  align-items: center;
  margin-left: 25px;
  font-size: 39px;
  color: #FFD564;
}

.fa {
  font-size: 23px;
  color: rgba(19, 133, 240, 0.83);
}

.button-nav {
  border: none;
  padding: 11px 25px;
  background: #FFD564;
  border-radius: 8px;
  font-family: "Poppins";
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  font-size: 17px;
}

.button-nav:hover {
  transform: scale(1.05);
}

.button-nav2 {
  border: 2px solid #FFD564;
  padding: 9px 15px;
  background: #fff;
  border-radius: 8px;
  font-family: "Poppins";
  font-weight: 700;
  color: #FFD564;
  cursor: pointer;
  transition: all ease 0.2s;
  font-size: 17px;
}

.button-nav2:hover {
  transform: scale(1.05);
}

.menu-icon {
  display: none; 
  z-index: 10;
}

.mobile-links-page {
  display: none; 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9); 
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;
  margin-top: 30px;
}

.mobile-links-page a {
  color: #3b9af3;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 38px;
  text-decoration: none;
}

#icon1 {
  margin-right: 20px;
}
#icon2 {
  margin-left: 20px;
}

.menu-icon .close {
  display: none; 
}

.menu-icon.active .close {
  display: inline-block;
}

.menu-icon.active .menu {
  display: none;
}


.zonapets-footer {
  width: 100%;
  margin-top: 200px;
  padding: 100px 100px 30px 100px;
  background-color: #1385f0;
}

.top {
  display: flex;
}

.logo-footer {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-divfooter {
  display: flex;
  align-items: center;
}

.img-divfooter1 {
  display: none;
  align-items: center;
  margin-bottom: 30px;
}

.img-footer {
  width: 60px;
}

.logo-title {
  color: #ffffff;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-left: 10px;
  font-style: normal;
  font-family: 'Poppins';
  font-weight: 600;
  line-height: 38px;
}

.social-mediaFooter {
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  margin-bottom: 10%;
}

.plus-icon3 {
  width: 25px;
  height: 28.08px;
  color: #fff;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.description-footer {
  display: flex;
  width: 100%;
}

.footer-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.description-footer h1 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 16px;
}

.footer-divs {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.width-url {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
  width: 150px;
}

.url-footer {
  padding: 0px 0px 20px 0px;
  text-decoration: none;
  color: #fff;
  line-height: 30px;
}

.url-footer:hover {
  text-decoration: underline;
}

.nav-hr {
  color: #fff;
  margin-top: 30px;
}

.bottom {
  margin-top: 30px;
}

.copyrigth {
  color: #fff;
}

.copyrigth2 {
  margin-top: 10px;
  color: #0F5B9E;
  font-weight: 800;
  display: flex;
  gap: 4px;
}

.copyrigth2 a {
  text-decoration: none;
  cursor: text;
  color: #fff;
  font-weight: 800;
}
@media(max-width: 1300px) {
  .top {
      flex-direction: column;
  }

  .logo-footer {
      order: 3;
      width: 100%;
  }

  .description-footer {
      order: 2;
  }

  .footer-container {
      justify-content: flex-end;
      flex-wrap: wrap;
  }

  .img-divfooter {
      display: none;
  }

  .img-divfooter1 {
      display: flex;
  }

  .zonapets-footer {
      padding: 40px;
  }

  .footer-divs {
      margin-right: auto;
  }

  .social-mediaFooter {
      padding-right: 0px;
  }
}

@media(max-width:500px) {
  .footer-divs {
      width: 50%;
  }
}

@media only screen and (max-width: 803px) {
  .links-page {
      display: none; 
      flex-direction: column;
      align-items: flex-start;
  }

  .mobile-links-page.active {
      display: flex;
      z-index: 11; 
  }

  .menu-icon {
      display: flex; 
      cursor: pointer;
  }

  .menu, .close {
      color: #3b9af3;
      width: 28px;
  }

  .close {
      font-size: 28px;
      color: #3b9af3;
  }



  .right {
      display: none; 
  }

  .premium-login {
      display: none; 
  }

  .imgnavbar {
      margin-right: auto;
      z-index: 10;
  }

  .social-mediaFooter a {
      margin-left: 0px;
      font-size: 20px;
  }
}

.linkToData {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 0.2s;
}

.linkToData:hover {
  transform: scale(1.1);
}

.profilePhotoNav {
  width: 30px;
  border-radius: 50px;
}