.allContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px 50px 80px 50px;
}

.containerFormAll {
    /* display: flex;
     */
    display: grid;
    grid-template-columns: 2fr 3fr;
    justify-content: center;
    align-items: center;
    border: 2px solid 1px solid #AEADAD;
    border-radius: 10px;
    /* padding: 40px; */
    width: 1050px;
    /* gap: 50px; */
}

.containerFormAll article {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1385F0;
    border-radius: 10px 0px 0px 10px;
    color: #fff;
    gap: 10px;
}

.containerFormAll article h1 {
    font-size: 40px;
    line-height: 40px;
}

.containerFormAll article p {
    font-family: "Rethink sans";
    font-size: 20px;
}

.containerFormAll article img {
    transform: rotate(-20deg);
}

.contentForm h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    color: rgba(19, 133, 240, 0.83);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.formForRegister {
    display: flex;
    flex-direction: column;
}

.formForRegister input::placeholder {
    font-size: 17px;
}

.formForRegister label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 38px;
    text-transform: capitalize;
    display: block;
    color: rgba(19, 133, 240, 0.83);
}

.formForRegister input, .selectForForm {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #80808052;
    border-radius: 10px;
    font-family: "Poppins", "sans-serif";
    margin-bottom: 10px;
    color: hsl(0, 0%, 50%);
    outline: 0;
    transition: all ease 0.2s;
    font-size: 18px;
    color: rgba(19, 133, 240, 0.83);
}

.formForRegister input:focus {
    transform: scale(1.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.082);
}

.formForRegister button {
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    padding: 12px 24px;
    background: #7FBFFF;
    border-radius: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
    width: 80%;
    width: 100%;
}

.formForRegister button:hover {
    background-color: rgba(19, 133, 240, 0.83);;
}

#mapRegister {
    height: 500px;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid #80808052;
    /* width: 800px; */
}

.toastSuccesRender, .toastErrorRender, [data-type="success"] {
    font-size: 15px;
    background-color: hsl(140, 86%, 33%) !important;
    color: #FFFFFF !important;
    font-family: "Poppins";
    border: 0;
}

.toastErrorRender, [data-type="error"] {
    background-color: #f13232 !important;
    color: #fff !important;
}
/* 
@media(max-width: 1082px) {
    .containerFormAll {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
    }
} */

@media(max-width: 470px) {
    .containerFormAll {
        padding: 20px;
    }
    .contentForm h1 {
        font-size: 40px;
        line-height: normal;
    }
}

.navForSteps {
    display: flex;
    width: 100%;
    padding: 53px 107px 0px 107px;
    justify-content: space-between;
}

.containerButtonsFromNavSteps {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.containerButtonsFromNavSteps a {
    text-decoration: none;
}

.containerButtonsFromNavSteps button {
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 7px 14px;
    border-radius: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.containerButtonsFromNavSteps button:hover {
    opacity: 0.8;
}

.containerButtonsFromNavSteps .buttonQuestionsSteps {
    background-color: #F5F5F5;
    border: 1px solid #AEADAD;
    color: #1385F0;
}

.containerButtonsFromNavSteps .buttonSaveSteps {
    background: #1385F0;
    color: #F5F5F5;
    border: 0;
}

.containerOfHeaderForPlace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 20px 40px 20px;
}

.containerOfHeaderForPlace h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 100%;
    color: #5E5E5E;
    margin-bottom: 50px;
}

.containerCardsOfPlace {
    display: grid;
    width: 838px;
    grid-template-columns: repeat(auto-fill, minmax(184px, 1fr));
    gap: 34px;
}

.containerCardsOfPlaceRegistry, .containerCardsOfPlaceRegistryForm {
    display: flex;
    width: 838px;
    gap: 34px;
    align-items: center;
    justify-content: center;
}

.containerCardsOfPlaceRegistryForm {
    width: 600px;
}

.cardOfPlaceSteps {
    width: 184px;
    height: 154px;
    border-radius: 10px;
    background-color: #D9D9D9;
    transition: all ease 0.2s;
    border: 1px solid #D9D9D9;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-wrap: balance;
    padding: 20px;
    text-align: center;
    gap: 10px;
}

.cardOfPlaceStepsTypeRegistry {
    border-radius: 10px;
    background-color: #D9D9D9;
    transition: all ease 0.2s;
    border: 1px solid #D9D9D9;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-wrap: balance;
    padding: 20px;
    text-align: center;
    gap: 10px;
    font-style: normal;
    font-weight: 500;
    color: #5E5E5E;
    font-family: "Rethink sans";
    width: 250px;
    height: 250px;

}

.cardOfPlaceSteps p {
    font-style: normal;
    font-weight: 600;
    color: #5E5E5E;
    font-family: "Rethink sans";
}

.cardOfPlaceSteps:hover, .cardOfPlaceStepsTypeRegistry:hover {
    opacity: 0.8;
}

.cardOfPlaceSteps.selected, .cardOfPlaceStepsTypeRegistry.selected {
    border: 2px solid #b1b0b0;
    background: #7fbfffab;
}

.cardOfPlaceSteps img {
    width: 50px;
}

.cardOfPlaceStepsTypeRegistry img {
    width: 90px;
}

.progressGeneralBarContainer {
    width: 100%;
    padding: 0px 107px;
}

.progressBarForSteps {
    width: 100%;
}

.containerFormStepRegister {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.bottomProgressAndButtons {
    margin-bottom: 20px;
}

.buttonsForNextAndBack {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 186px;
}

.buttonsForNextAndBack button {
    padding: 12px;
    border-radius: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    border: 0;
    cursor: pointer;
}

.buttonsForNextAndBack .buttonsForNextAndBack1 {
    color: #1385F0;
    background: #ffffff00;
    text-decoration: underline;
}

.buttonsForNextAndBack .buttonsForNextAndBack2 {
    background: #1385F0;
    color: #F5F5F5;
}

.buttonsForSaveSteps {
    background-color: (140, 86%, 33%)
}

.toastWarningRender {
    background-color: #f0ad4e !important;
    color: #fff !important; 
    border: 0 !important;
}

.formForRegisterUser {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px;
    border: 1px solid #80808052;
    border-radius: 20px;
    gap: 25px;
}

.formForRegisterUser article {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formForRegisterUser article label {
    font-family: "Rethink sans";
    font-size: 25px;
    color: #1385f0;
}

.formForRegisterUser article input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #80808052;
    font-family: "Rethink sans";
    font-size: 20px;
    outline: 0;
    color: #5E5E5E;
    transition: all ease 0.2s;
}

.formForRegisterUser article input:focus {
    border: 1px solid #1385f04d;
}

.formForRegisterUser article input::placeholder {
    font-family: "Rethink sans";
    font-size: 20px;
    color: #80808052;
}

.buttonQuestionsStepsResponsive {
    display: none;
    padding: 5px;
    align-items: center;
    justify-content: center;
    border: 1px solid #80808052;
    border-radius: 40px;
}

.provisionaDivResponsiveSteps {
    display: none;
}

.containerForAllOfRegistrarForLanding {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.containerOfRegistrarForLanding {
    width: 1000px;
    height: 700px;
    width: 1400px;
    background: rgba(97, 190, 225, 0.8);
    backdrop-filter: blur(35px);
    border-radius: 20px;
    padding: 40px;
}

.containerBlurOfRegistrarForLanding {
    /* From https://css.glass */
    background: rgba(217, 217, 217, 0.534);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border: 1px solid rgba(217, 217, 217, 0.36);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.leftSideContainerRegistrarForLanding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px;
    text-wrap: balance;
    gap: 5px;
}

.textSectionRegistrarForLanding {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.leftSideContainerRegistrarForLanding h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 72px;
    color: #4B4B4B;
}

.leftSideContainerRegistrarForLanding p {
    font-family: 'Rethink Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #5E5E5E;
}

.tagNewContainerRegistrarForLanding {
    background: #BEBCF0;
    border-radius: 10px;
    padding: 7px;
    width: fit-content;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #6967A5;
}

.rightSideContainerRegistrarForLanding {
    display: flex;
    justify-content: flex-end;
}

.rightSideContainerRegistrarForLanding img{
    width: 90%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
}

.buttonSectionRegistrarForLanding {
    /* width: 100%; */
}

.buttonSectionRegistrarForLanding button {
    padding: 12px 24px;
    background: #32C8C3;
    border-radius: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
    width: 400px;
    cursor: pointer;
    margin-top: 20px;
    position: relative;
}

.secondImageContainerRegistrarForLading {
    display: none;
    border-radius: 20px;
    
}

@media(width <= 1360px) {
    .containerBlurOfRegistrarForLanding {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .containerOfRegistrarForLanding {
        width: 100%;
        height: 100%;
    }

    .firstImageContainerRegistrarForLading {
        display: none;
    }

    .secondImageContainerRegistrarForLading {
        display: block;
    }

    .containerForAllOfRegistrarForLanding {
        width: auto;
        height: auto;
    }

    .rightSideContainerRegistrarForLanding {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0px 70px 70px 70px;
    }

    .rightSideContainerRegistrarForLanding img {
        border-radius: 10px;
        width: 100%;
    }
}

@media(width <= 1058px) {
    .containerOfHeaderForPlace h1 {
        text-align: center;
        font-size: 45px;
    }
}

@media(width <= 838px) {
    .containerCardsOfPlace {
        width: 100%;
        padding: 0px 20px;
        margin-bottom: 30px;
    }

    .containerCardsOfPlaceRegistry, .containerCardsOfPlaceRegistryForm {
        width: 100%;
        padding: 0px 20px;
        flex-direction: column;
        gap: 20px;
    }

    .cardOfPlaceSteps {
        width: 100%;
    }

    .cardOfPlaceStepsTypeRegistry {
        width: 100%;
    }

    .containerOfHeaderForPlace {
        padding: 20px;
        margin-bottom: 30px;
    }

    .containerFormAll {
        width: 100%;
        padding: 0px;
    }

    .navForSteps {
        padding: 20px;
    }

    .progressGeneralBarContainer {
        padding: 0px 20px;
    }

    .buttonsForNextAndBack {
        padding: 20px;
    }

    .formForRegisterUser {
        padding: 20px;
    }

    .containerOfHeaderForPlace h1 {
        margin-bottom: 30px;
    }
}

@media(width <= 700px) {
    .allContainer {
        padding: 20px;
    }

    .containerFormAll {
        display: flex;
        flex-direction: column;
    }

    #mapRegister {
        width: 100%;
        border-radius: 10px;
    }

    .containerFormAll article {
        background-color: #fff;
        color: #5E5E5E;
    }

    .containerFormAll article img{
        display: none;
    }
}

@media(width <= 600px) {
    .leftSideContainerRegistrarForLanding h1 {
        font-size: 50px;
        line-height: 50px;
    }

    .leftSideContainerRegistrarForLanding p {
        font-size: 18px;
        line-height: 20px;
    }

    .leftSideContainerRegistrarForLanding {
        padding: 70px 70px 20px 70px;
    }

    .buttonSectionRegistrarForLanding button {
        width: 100%;
    }

    .containerOfRegistrarForLanding {
        height: 100dvh;
    }
}

@media(width <= 500px) {
    .containerOfHeaderForPlace h1 {
        font-size: 35px;
    }

    .buttonQuestionsSteps {
        display: none;
    }

    .buttonQuestionsStepsResponsive {
        display: flex;
    }

    .bottomProgressAndButtons {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #fff;
        margin: 0;
        background: #b9b9b952;
        border-radius: 16px;
        box-shadow: 0 4px 30px #0000001a;
        backdrop-filter: blur(15.6px);
    }

    .progressGeneralBarContainer {
        display: none;
    }

    .containerOfHeaderForPlace {
        padding: 20px 20px 89px 20px;
    }

    .provisionaDivResponsiveSteps {
        display: block;
    }

    .containerFormAll article h1 {
        font-size: 30px;
        line-height: 14px;
        text-wrap: balance;
    }

    .allContainer {
        height: 900px;
        padding: 20px 20px 89px 20px;
        align-items: start;
    }

    .containerFormAll article{
        padding: 0px;
        margin-bottom: 20px;
    }

    .secondImageContainerRegistrarForLading {
        display: none;
    }

    .containerOfRegistrarForLanding {
        padding: 20px;
    }

    .leftSideContainerRegistrarForLanding {
        padding: 30px;
    }

}

@media(width <= 400px) {
    .containerOfHeaderForPlace h1 {
        font-size: 30px;
    }

    .containerButtonsFromNavSteps button {
        font-size: 16px;
    }

    .containerButtonsFromNavSteps {
        gap: 8px;
    }

    .formForRegisterUser article label {
        font-size: 20px;
    }

    .formForRegisterUser article input {
        font-size: 16px;
    }

    .formForRegisterUser article input::placeholder {
        font-size: 16px;
    }
}


@media(width <= 478px) {
    .containerFormAll article h1 {
        line-height: 30px;
    }
}